*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Link{
    text-decoration: none;
    color: #000;
}
.link{
    text-decoration: none;
}
.careersContainer{
    display: flex;
    justify-content: center;
}
.btnLinks{
    text-decoration: none;
    color: #fff;
}


