*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Link{
    text-decoration: none;
    color: #000;
}
.btnLinks{
    text-decoration: none;
    color: #fff;
}
.hamIcon {
    font-size: 24px;
    color: #000;
    cursor: pointer;
    margin-left: 15px;
    display: none;
    transition: transform 0.2s ease;
}

.hamIcon:hover {
    transform: scale(1.1);
    color: #1976d2;
}

.remove{
    background-color: red;
}
.remove:hover{
    background-color: #fff;
    border-color: red;
    color: red;
}